*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    
}
.container_center{
    max-width: 1190px;
    margin: 0 auto;
}

h2{
    font-size: 67px;
    line-height: 80px;
}
h6{
    font-weight: 700;
}
/* CSS for banner section  */
#banner{
    /* min-width: 1200px; */
    display: flex;
    background-color: #ffffff;
    width: 100%;
    justify-content:center;
}
.banner_right{
    position: relative;
}
.banner_right h1{
    font-size: 67px;
    line-height: 80px;
    font-weight: 700;
    padding: 15% 2% 6.9% 0;

}
.banner_right p{
    line-height: 42px;
    font-size: 30px;
    padding: 0 12% 9.1% 0;
}
.banner_right a{
    letter-spacing: .5px;
    position: relative;
    padding: 4px 0 0 11%;
    color:black;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
}

.banner_right a::before {
    content: "";
    position: absolute;
    top: -30%;
    left: 0;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    background-repeat: no-repeat;
    background-position: -24px center;
    background-size: 60px;
    background-color: #8b5fda;
}

/* CSS for Services section  */
#services{
    background-color: #181924;
    color: white;
    border-radius: 45px 45px 0 0;
    padding: 60px 0px 80px 0px;
}
.arrows{
    display: flex;
    justify-content: space-between;
}
.left_arrow_one{
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #8b5fda;

}
.left_arrow{
    display: flex;
    align-items: center;
}
.content_one{
    margin-left: 20px;
}
.left_arrow a{
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: -.23px;
    line-height: 49px;
    text-decoration: none;
}
.left_arrow p{
    opacity: .67;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -.22px;
    line-height: 35px;
}
.right_arrow{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.right_arrow a{
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: -.23px;
    line-height: 49px;
    text-decoration: none;

}
.right_arrow p{
    opacity: .67;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -.22px;
    line-height: 35px;
}
.content{
    margin-right: 20px;
    text-align: right;
}

/* CSS for portfolio section  */
#portfolio_colors{
    padding:100px 0px 40px 0px;

}
#portfolio_colors h2{
    margin-bottom: 2%;

}
.portfolio{
    display: flex;
    padding-top: 12%;
    justify-content: space-between;
}
.portfolio_left{
    width: 70%;
}
.portfolio_left span{
    position: relative;
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    line-height: 56px;
    display: inline-block;
    margin-bottom: 1%;
}
.portfolio_left span::after{
    position: absolute;
    content: "";
    top: 50%;
    left: 100%;
    width: 72px;
    height: 2px;
    background: #fff;
    margin-left: 10px;
}
.portfolio_left h2{
    margin: 0 0 4%;
}
.portfolio_left p{
    opacity:0.75;
    line-height: 42px;
    font-size: 30px;
}
.portfolio_right{
    text-align: right;
}
.portfolio_right h6{
    font-size: 29px;
    line-height: 50px;
    margin-bottom: 11px;
    margin-top: 33px;
    font-weight: 700;
}
.portfolio_right p{
    opacity: .5;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 42px;
}
.wraper{
    display: flex;
}
.portfolio_colors_left{
    display: flex;
    width: 70%;
}

.portfolio_colors_left ul{
    list-style: none;
    width: 21%;
    margin: 0 1.8% 0 0;
    padding-left: 0;
}

.first_row li{
    padding: 13px 15px;
    margin: 9px 0 7px;
    color: #fff;
    border-radius: 13px;
    color: #fff;
    font-size: 15px;
    line-height: 16px;
    background-color: #181924;
}
.first_row li:nth-child(1){
    opacity: .9;
}
.first_row li:nth-child(2){
    opacity: .7;
}
.first_row li:nth-child(3){
    opacity: .5;
}
.first_row li:nth-child(4){
    opacity: .3;
}
.first_row li:nth-child(5){
    opacity: .1;
}
.first_row li:nth-child(6){
    padding-left: 5%;
    margin-top: 40%;
    color:black;
    font-size: 24px;
    line-height: 62px;
    text-transform: uppercase;
    margin-top: 78px;
    background: 0 0;
    font-weight: 700;
}

.second_row li{
    padding: 13px 15px;
    margin: 9px 0 7px;
    color: #fff;
    border-radius: 13px;
    color: #fff;
    font-size: 15px;
    line-height: 16px;
    background-color: #e4e6f2;
}
.second_row li:nth-child(1){
    opacity: .9;
}
.second_row li:nth-child(2){
    opacity: .7;
}
.second_row li:nth-child(3){
    opacity: .5;
}
.second_row li:nth-child(4){
    opacity: .3;
}
.second_row li:nth-child(5){
    opacity: .1;
}
.second_row li:nth-child(6){
    padding-left: 5%;
    margin-top: 40%;
    color:black;
    font-size: 24px;
    line-height: 62px;
    text-transform: uppercase;
    margin-top: 78px;
    background: 0 0;
    font-weight: 700;
}
.third_row li{
    padding: 13px 15px;
    margin: 9px 0 7px;
    color: #fff;
    border-radius: 13px;
    color: #fff;
    font-size: 15px;
    line-height: 16px;
    background-color: #8b5fda;

}
.third_row li:nth-child(1){
    opacity:.9;
}
.third_row li:nth-child(2){
    opacity: .7;
}
.third_row li:nth-child(3){
    opacity: .5;
}
.third_row li:nth-child(4){
    opacity: .3;
}
.third_row li:nth-child(5){
    opacity: .1;
}
.third_row li:nth-child(6){
    padding-left: 5%;
    margin-top: 40%;
    color:black;
    font-size: 24px;
    line-height: 62px;
    text-transform: uppercase;
    margin-top: 78px;
    background: 0 0;
    font-weight: 700;
}
.portfolio_colors_right{
    width: 30%;
    padding-left: 4.3%;
}
.portfolio_colors_right ul li{
    padding: 0 0 2%;
    opacity: .5;
    font-size: 30px;
    line-height: 42px;
    padding: 5% 0 2%;
    color:#212121;
    list-style: none;
}
.portfolio_colors_right ul li:nth-child(1){
   font-weight: 700;
}
.portfolio_colors_right ul li:nth-child(2){
    font-weight: 500;
}
.portfolio_colors_right ul li:nth-child(3){
    font-weight: 400;
}
.portfolio_colors_right ul li:nth-child(4){
    font-weight: 300;
}
#technology{
    margin-top: 50px;
}
.technologies {
 display: flex;
 justify-content: space-between;
 margin: 50px 0px 80px;
 width: 90%;
}
.tech{
    width: 93px;
    height: 93px;
    border-radius: 50%;
    border: 1px solid #aaaaaa;
    position: relative;
}
.tech span{
    font-size: 36px;
    font-weight: 700;
    position: absolute;
    top: 25%;
    left: 25%;
}
.tech:nth-child(even){
    background-color: #212121;
    color: #fff;
}
.technology_content img{
margin-top: 50px;
max-width: 100%;
}
#expertise{
    background-color: #181924;
    text-align: center;
    margin:90px 0px 90px 0px;
    padding-bottom: 70px;
}
#expertise h2{
    color: #ededf0;
    padding-top: 6.83%;
    margin-bottom: 2.12%;
}
#expertise p{
    opacity: .79;
    color: #ededf0;
    text-align: center;
    margin-bottom: 4.75%;
    padding-left: 0;
    text-align: center; 
    font-size: 35px;
    line-height: 50px;
}

.expertise_btn a:nth-child(1){
    background-color: #8b5fda;
    color: #fff;
    border-radius: 5px;
    font-size: 25px;
    display: inline-block;
    width: 319px;
    padding: 30px 15px;
    text-decoration: none;
    margin: 0px 10px;

}
.expertise_btn a:nth-child(2){
    background-color: #757575;
    color: #fff;
    border-radius: 5px;
    font-size: 25px;
    display: inline-block;
    width: 319px;
    padding: 30px 15px;
    text-decoration: none;
}
#solutions{
    padding: 30px 0px;
}
.solution_wraper{
    display: flex;
}
.problem_faced{
    width: 80%;
}
.problem_faced h3{
    font-size: 62px;
    line-height: 70px;
    margin-bottom: 60px;
}
.problem_faced p{
    font-size: 35px;
    line-height: 50px;
}
.solution{
    max-width: 50%;
    padding-left: 30px;
}
.solution h3{
    font-size: 62px;
    line-height: 70px;
    margin-bottom: 60px;
}
.solution p{
    font-size: 35px;
    line-height: 50px;
}
#visual-ui{
    background-color: #181924;
}
.visual_ui_content_bottom{
    display:flex;
}
.visual_ui_left{
    background-color: #181924;
    width:50%;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    padding: 60px 0px;
}
.visual_ui_content_image{
    width: 31%;
    padding: 0 15px;
}
.visual_ui_content_image img{
    width: 100%;
}

.visual_ui_right{
    background-color: #262836;
    width:50%;
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}
.visual_ui_right_img{
    width: 31%;
    padding: 0 15px;
}
.visual_ui_right_img img {
    width: 100%;
}
#dashboard{
    padding: 80px 0px;
}
#dashboard img{
 max-width: 100%;
}
#dashboard span{
    color: #aaa;
    font-size: 32px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 1.34%;
}
#dashboard h2{
    margin-bottom: 80px;
    font-size: 72px;
    line-height: 80px;
    font-weight: 700;
}
#feedback{
    color: #252427;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.2px;
    position: relative;
}
.main_heading{
    color: #252427;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.2px;
    position: relative;
    margin-bottom:30px;
    display: block;
}
.main_heading:after{
    content: "";
    position: absolute;
    top: 39%;
    width: 79%;
    left: 20%;
    height: 2px;
    background: #707070;
    opacity: .12;
}
.mobile_apps{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.flight_app{
    background-color: #181924;
    width: 43%;
    color: #fff;
    /* padding: 30px 10px 30px 30px; */
    padding: 4.7% 3% 3.2% 3.6%;


}
.flight_app span{
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: .06px;
    line-height: 38px;
    opacity: .72;
    position: relative;
}
.mob_app::after{
    content: "";
    position: absolute;
    background: #fff;
    opacity: .62;
    width: 69px;
    height: 1px;
    left: 111%;
    top: 50%;
}
.flight_app h2{
    padding: 30px 158px 25px 0px;
    color: #fff;
    font-size: 49px;
    font-weight: 700;
    letter-spacing: .15px;
    line-height: 65px;
    
}
.messeging_app{
    width: 43%;
    background-color: #262836;
    color: #fff;
    /* padding: 30px 10px 30px 30px; */
    padding: 4.7% 3% 3.2% 3.6%;


}
.mob_app_two{
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: .06px;
    line-height: 38px;
    opacity: .72;
    position: relative;
}
.mob_app_two::after{
    content: "";
    position: absolute;
    background: #fff;
    opacity: .62;
    width: 69px;
    height: 1px;
    left: 111%;
    top: 50%;
}
.messeging_app h2{
    padding: 15px 221px 40px 15px;
    color: #fff;
    font-size: 49px;
    font-weight: 700;
    letter-spacing: .15px;
    line-height: 65px;
   
}
.case_study{
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: .06px;
    line-height: 38px;
    position: relative;
    float: right;
    padding-left: 15px;
}

/* Responsive for mobile and tablet  */
@media only screen and (max-width: 480px) {
    /* CSS for Banner  */
    #banner{
        display: flex;
        flex-direction: column;
    }
    .banner_left img{
        max-width:84%;
    }
    .banner_right h1{
        font-size: 24px;
        padding: 10px 0px 0px 27px;
        line-height: 60px;
    }
    .banner_right p{
        padding: 0px 0px 17px 25px;
    }
    .banner_right a{
        padding-left: 90px;
    }
    .banner_right a::before{
        left: 25px;
    }
    /* CSS for arrow section  */
    #services{
        padding:26px 0px 26px 0px;
        margin-top: 55px;
    }
    .arrows{
        display: flex;
        flex-direction: column;
    }
    .left_arrow{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right_arrow{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .portfolio{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    .portfolio_left{
        width: 100%;
    }
    .portfolio_right{
        text-align: left;
        margin-top: 25px;
    }
    .portfolio_right h6{
        margin-top: 10px;
    }
    /* CSS for portfolio section  */
    .wraper{
        display: flex;
        flex-direction: column;
    }
    .portfolio_colors_left{
        width: 100%;
    }
    .portfolio_colors_left ul{
        width: 33.33%;

    }
    ul.first_row{
        margin-left: 10px;
    }
    .portfolio_colors_right{
        width: 90%;
    }
    .tech {
        width: 93px;
        height: 111px;
        border-radius: 50%;
        border: 1px solid #aaaaaa;
        position: relative;
        width: calc(100%/4);
        margin: 5px 15px;
    }
    .technologies {
        display: flex;
        margin: 50px 0px 50px;
        width: 100%;
        flex-wrap: wrap;
    }
    #technology{
        margin: 50px 10px 0px 10px;
    }
    .expertise_btn a:nth-child(1){
        margin:20px 10px;
    }
    /* #solution{
        padding: 30px 10px;
    } */
    .solution_wraper{
        display: flex;
        flex-direction: column;
    }
    .problem_faced{
        max-width: 100%;
        padding: 0px 15px;
    }
    .solution{
        max-width: 100%;
        padding: 0px 15px;
    }

}
@media only screen and (max-width:576px) {
    #banner{
        display: flex;
        flex-direction: column;
    }
    .banner_left img{
        max-width:84%;
    }
    .banner_right h1{
        font-size: 24px;
        padding: 10px 0px 0px 27px;
        line-height: 60px;
    }
    .banner_right p{
        padding: 0px 0px 17px 25px;
    }
    .banner_right a{
        padding-left: 90px;
    }
    .banner_right a::before{
        left: 25px;
    }
    /* CSS for arrow section  */
    #services{
        padding:26px 0px 26px 0px;
        margin-top: 55px;
    }
    .arrows{
        display: flex;
        flex-direction: column;
    }
    .left_arrow{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right_arrow{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .portfolio{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    .portfolio_left{
        width: 100%;
    }
    .portfolio_right{
        text-align: left;
        margin-top: 25px;
    }
    .portfolio_right h6{
        margin-top: 10px;
    }
    /* CSS for portfolio section  */
    .wraper{
        display: flex;
        flex-direction: column;
    }
    .portfolio_colors_left{
        width: 100%;
    }
    .portfolio_colors_left ul{
        width: 33.33%;

    }
    ul.first_row{
        margin-left: 10px;
    }
    .portfolio_colors_right{
        width: 90%;
    }
}

@media only screen and (max-width:767px){
    /* CSS for Banner  */
    #banner{
        display: flex;
    }
    .banner_left{
        width: 70%;
    }
    .banner_left img{
        max-width:100%;
    }
    .banner_right h1{
        font-size: 24px;
        padding: 10px 0px 0px 27px;
        line-height: 50px;
        }
        .banner_right p{
            padding: 0px 0px 17px 25px;
            font-size: 25px;
        }
        .banner_right a{
            padding-left: 90px;
        }
        .banner_right a::before{
            left: 25px;
        }

    /* CSS for arrow section  */
    #services{
        padding:26px 0px 26px 0px;
        margin-top: 40px;
    }
    .arrows{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .left_arrow{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left_arrow a{
        font-size: 22px;
    }
    .left_arrow p{
        font-size: 17px;
    }
    .right_arrow{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right_arrow a{
        font-size: 22px;
    }
    .right_arrow p{
        font-size: 17px;
    }
    .portfolio{
        display: flex;
        flex-direction: column;
        padding: 30px 20px 10px 20px;
    }
    .portfolio_left{
        width: 100%;
    }
    .portfolio_right{
        text-align: left;
        margin-top: 25px;
    }
    .portfolio_right h6{
        margin-top: 10px;
    }
    /* CSS for portfolio section  */
    .wraper{
        display: flex;
        flex-direction: column;
    }
    .portfolio_colors_left{
        width: 100%;
    }
    .portfolio_colors_left ul{
        width: 33.33%;

    }
    ul.first_row{
        margin-left: 10px;
    }
    .portfolio_colors_right{
        width: 90%;
        padding: 10px 20px;
    }
    .portfolio_colors_right ul li{
        padding: 0 0 2%;
    }
}
@media only screen and (max-width:992px){
    #banner{
        display: flex;
    }
    .banner_left{
        width: 70%;
    }
    .banner_left img{
        max-width:100%;
    }
    .banner_right h1{
        font-size: 24px;
        padding: 50px 20px 0px 27px;
        line-height: 50px;
        }
        .banner_right p{
            padding: 0px 0px 60px 25px;
            font-size: 25px;
        }
        .banner_right a{
            padding-left: 90px;
        }
        .banner_right a::before{
            left: 25px;
        }

    .arrows{
        padding: 0px 20px;
    }
    #services{
        padding: 30px 15px 15px 15px;
        margin-top: 25px;
    }
    #portfolio_colors{
        padding: 70px 15px 40px 15px;
    }
}
@media only screen and (max-width:1024px){
    #banner{
        display: flex;
    }
    .banner_left{
        width: 70%;
    }
    .banner_left img{
        max-width:100%;
    }
    .banner_right h1{
        font-size: 24px;
        padding: 50px 20px 0px 27px;
        line-height: 50px;
        }
        .banner_right p{
            padding: 0px 0px 60px 25px;
            font-size: 25px;
        }
        .banner_right a{
            padding-left: 90px;
        }
        .banner_right a::before{
            left: 25px;
        }
    .arrows{
        padding: 0px 20px;
    }
    #services{
        padding: 30px 15px 15px 15px;
    }
    .portfolio{
        padding-top: 8%;

    }
    #portfolio_colors{
        padding: 70px 15px 40px 15px;
    }
}
@media only screen and (max-width:1200px){
    #banner{
        display: flex;
    }
    .banner_left{
        width: 70%;
    }
    .banner_left img{
        max-width:100%;
    }
    .banner_right h1{
        font-size: 24px;
        padding: 50px 20px 0px 27px;
        line-height: 50px;
        }
        .banner_right p{
            padding: 0px 0px 60px 25px;
            font-size: 25px;
        }
        .banner_right a{
            padding-left: 90px;
        }
        .banner_right a::before{
            left: 25px;
        }
    .arrows{
        padding: 0px 20px;
    }
    #services{
        padding: 30px 15px 15px 15px;
    }
    .portfolio{
        padding-top: 8%;

    }
    #portfolio_colors{
        padding: 70px 15px 40px 15px;
    }
}